.countdownStyle {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  height: 10vh;
  background-color: var(--secoundary-colorLowerOpacity);
  color: var(--secoundary-color);
  width: 100%;
  padding: 2rem;
}

.time-container {
  display: flex;
  flex-direction: row;;
  gap: 2rem;
  color: var(--dark-color);
}
@media (max-width:500px) {
  .time-container{
    gap: .3rem;
    justify-content: center;
    align-items: center;

  }

}
/* .time-row{
  display: flex;;
  justify-content: center;
  align-items: center;
} */

.time-container span{

}