.side-bar-contaienr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--sideBar-color);
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  color: white !important;

}

.nav-item {
  color: var(--secoundary-color);
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: 1rem;

}

.nav-item:hover {
  background-color: var(--dark-color);
  color: var(--secoundary-color);
  padding: 1.5rem;
  border-radius: 15px;
  font-size: 1rem;
}

.selected {
  color: var(--NavBar-color);
  border-radius: 15px;
}

.user-info-sideBar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
  color: var(--NavBar-color);

}

.userRule {
  color: var(--fancy-color);
  width: 100;
  color: var(--dark-color);
  background-color: var(--NavBar-color);
  padding: 0 1rem;
  border-radius: 10px;
}

.sideLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;;
  height: 100%;
}