.winner-posts-wrapper{
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.winner-post{
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.winner-posts-wrapper .winner-post{
  width: 50vw;
}
.winner-posts-wrapper .winner-post img{
    width: 50vw;

}
