.create-post-style {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: start;;
}
.create-post-formGroup{
  display: flex;;
  justify-content: center;
  flex-direction: column;

}
.create-post-style div {
  display: flex;
  flex-direction: column;
}