.form-register {
  color: var(--dark-color);

}.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  gap: 2rem;
}
.loading{
  padding: 1rem;
  border-radius:10px;
  background-color: var(--dark-color);
  color: var(--NavBar-color);
}