.login-page {
  width: 100vw;
  height: 100vh;
  display: grid !important;
  ;
  grid-template-columns: 3fr 2fr;
  background-color: rgba(0, 0, 0, .6);
}

.form-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--dark-color);
  gap: 3rem;
  background-color: var(--dark-color);
}

.form-login input {

  width: 100%;

}

.backdrop-login {
  width: 100%;
  height: 100%;
  background: url("https://firebasestorage.googleapis.com/v0/b/photography-competition-9434e.appspot.com/o/competitionImages%2FYous3f2_main_website_cover_background_with_this_colors_733F65BF_836e6a53-add2-4ab0-99b8-c5a1e9a0788f.png?alt=media&token=4764cb13-3b7b-4ed9-9949-e193aff8eab9");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form-container {
  display: flex;
  ;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  background-color: var(--NavBar-color);
  position: relative;
  z-index: 11;
  padding: 4rem;
  border-radius: 20px;
  height: 80%;
  width: 80%;
}

.form-container h1 {
  color: var(--dark-color);
}

.form-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px var(--dark-color) solid;
  
}

.form-container label {
  align-self: flex-start;

}

.form-container div {
  display: flex;
  ;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
}

.form-container input[type="submit"],
.loading {
  background: none;
  border: var(--dark-color) 1px solid !important;
  color: var(--dark-color);
  font-size: large;
  font-weight: bold;

}

.form-container input[type="submit"]:hover {
  background-color: var(--dark-color);

  color: var(--NavBar-color);
  cursor: pointer;
  ;
}
.linkRef{
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.3rem;
}