.competitions-display {
  display: grid !important;;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(auto,1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.competitionPageLayout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  align-items: center;
  width: 100%
  
}
.competition-card {
  background-color:var(--secoundary-color);
  color: var(--dark-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .1rem;
  width: 100%;

}

.competition-card img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  
}

.competition-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.competition-card p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.dates {
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding:0;
}

.dates p {
  font-size:.8rem;
}

button {
  background:none !important;
  border: var(--dark-color) 1px solid !important;
  color: var(--dark-color) !important;
  font-weight: 600;
  border: none; 
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: .7rem 2rem;
}
button:hover {
  color: var(--NavBar-color) !important;
  background-color: var(--dark-color) !important;
}


.competition-card .submit-button {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.competition-card .submit-button:focus {
  outline: none;
}

@media (max-width: 767px) {
  .competition-card {
    width: 100%;
  }
}

.compBottombuttons{
  width: 100%;
  display: flex;;
  justify-content: space-around;
}
.editButton{
 border: none !important; 
}

.deleteButton{
 border: none !important; 

}
.addCopetitionButton{
  background-color: var(--dark-color) !important;
  color: var(--NavBar-color) !important;

}