.competitions-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.competition-card {
  background-color:var(--secoundary-color);
  color: var(--dark-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  gap: 1rem;
  width: 50%;

}

.competition-card img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  
}

.competition-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.competition-card p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.dates {
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding:0;
}

.dates p {
  font-size:.8rem;
}

button {
  background-color: var(--fancy-color);
  color: var(--dark-color) !important;
  font-weight: 600;
  border: none; 
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: .7rem 2rem;
}

button:hover {
  opacity: .8;
}
.competition-card .submit-button {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.competition-card .submit-button:focus {
  outline: none;
}

@media (max-width: 767px) {
  .competition-card {
    width: 100%;
  }
}

.compBottombuttons{
  width: 100%;
  display: flex;;
  justify-content: space-around;
}
.editButton{
  background-color:var(--fancy-color) !important;;
}
.deleteButton{
  background-color: var(--dark-color) !important;;
  color: var(--secoundary-color) !important;
}