:root {
  --primary-color: #5D132C;
  --secoundary-color: #FCFCF9;
  --dark-color: #0A0504;
  --fancy-color: #F22E2E;
  --line-height: 136%;
}

html,
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}